h1,
h2,
h3,
h4,
a,
.countdown {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-style: normal;
}

h1, h2 {
  font-size: 4em;
};

h3, h4 {
  font-size: 3em;
}
p {
  font-family: "Thasadith", sans-serif;
  text-align: justify;
}

.uk-container::before {
  display: none;
}

#navhamburger {
  z-index: 100;
  padding: 2em;
}

#hero {
  padding-bottom: 1em;
  /* font-size: 50px; */
}

#nashville, #june15 {
  font-size: 1em;
  letter-spacing: 3px;
  font-family: "Thasadith", sans-serif;
}

#june15 {
  margin-top: 0px;
}

#hero a {
  font-family: "Thasadith", sans-serif;
}

#thecouple {
  margin: .8em;
  /* border-bottom: black 1px; */
}

/* #title-color-block {
  background-color: #D5E0C8;
  height: 1em;
  width: 3em;
  position: absolute;
  bottom: .3rem;
  left: 5em;
  z-index: -2;
} */

.thecouple {
  margin-bottom: .8em;
}

.thecouple p {
  padding-bottom: 5em;
}

#tylena-bio, #joshua-bio {
  padding: 2em;
}

/* #tylenaandjoshua {
  font-size: 3em;
} */

#hero-location {
  margin: -.4em;
}

#rsvp-btn {
  border-radius: 1em;
  font-family: "Thasadith", sans-serif;
}



#tylena-name, #joshua-name {
  font-size: 4em;
}



.thewedding p {
  text-align: center;
}

.thewedding h3 {
  font-size: 3em;
}

#ashley-name {
  bottom: -1em;
  left: 3em;
}
#ashley-last {
  bottom: -1em;
  left: 5.3em;
}
#ashley-p {
  margin-left: 30em;
}

.matronofhonor h4, .bestman h4 {
  font-size: 3em;
}

#jake-img {
  width: 30em;
}

#langston{
  font-size: 3.8em;
}

hr {
  margin-top: 40px;
  border-top: 0px;
}

#registry p {
  text-align: center;
}

.whynashville h3 {
  font-size: 3em;
}

.whynashville h4 {
  font-size: 2em;
  margin-top: -.75em;
}

.whynashville a p{
  color: #c3b7b7;
}

/* COUNTDOWN  */
/* /////Countdown JS by https://github.com/fionnachan/countdownJS///// */
.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flex;
  padding: 10px 20px;
  /* border: 1px solid black; */
}

.countdown .day,
.countdown .hour,
.countdown .min,
.countdown .sec {
  padding: 20px;
  text-align: center;
}

.countdown .day .num,
.countdown .hour .num,
.countdown .min .num,
.countdown .sec .num {
  display: block;
  font-size: 40px;
}

.countdown .day .word,
.countdown .hour .word,
.countdown .min .word,
.countdown .sec .word {
  display: block;
  font-size: 20px;
}

footer {
  font-family: "Thasadith", sans-serif;
}

footer a {
  font-family: "Thasadith", sans-serif;
  color: #c3b7b7;
}
