h1,
h2,
h3,
h4,
a,
.countdown {
  font-family: whitman-display-compressed, serif;
  font-weight: 300;
  font-style: normal;
}

#thecouple {
  margin: .8em;
  /* border-bottom: black 1px; */
}

/* #title-color-block {
  background-color: #D5E0C8;
  height: 1em;
  width: 3em;
  position: absolute;
  bottom: .3rem;
  left: 5em;
  z-index: -2;
} */

.thecouple {
  margin-bottom: .8em;
}

#tylenaandjoshua {
  font-size: 3em;
}

#hero-location {
  margin: -.4em;
}

#rsvp-btn {
  border-radius: 1em;
  font-family: "Thasadith", sans-serif;
}

h1, h2 {
  font-size: 4em;
}

h3, h4 {
  font-size: 3em;
}

#tylena-name, #joshua-name {
  font-size: 4em;
}

p {
  font-family: "Thasadith", sans-serif;
}

/* .maid-of-honor {
  width: 20em;
  height: 20em;
  overflow: hidden;
  border-radius: 50%;
  z-index: -100;
} */

/* #bridalparty-img {
    width: auto; height: 100%;
} */

#ashley-name {
  bottom: -1em;
  left: 3em;
}
#ashley-last {
  bottom: -1em;
  left: 5.3em;
}
#ashley-p {
  margin-left: 30em;
}

#jake-img {
  height: 18em;
  width: 18em;
}

/* COUNTDOWN  */
/* /////Countdown JS by https://github.com/fionnachan/countdownJS///// */
.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flex;
  padding: 10px 20px;
  /* border: 1px solid black; */
}

.countdown .day,
.countdown .hour,
.countdown .min,
.countdown .sec {
  padding: 20px;
  text-align: center;
}

.countdown .day .num,
.countdown .hour .num,
.countdown .min .num,
.countdown .sec .num {
  display: block;
  font-size: 40px;
}

.countdown .day .word,
.countdown .hour .word,
.countdown .min .word,
.countdown .sec .word {
  display: block;
  font-size: 20px;
}
